<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.dms.web.mapper.Mapper">
  
 	<select id="getTime" resultType="string">
 		select now()
 	</select>
 	
     <insert id="user_insert"> <!-- 수정해주세요 -->
   		insert into student (id, passwd, username, snum, depart, mobile, email) values
 		(#{id}, #{passwd}, #{username}, #{snum}, #{depart}, #{mobile}, #{email})
     </insert> 
 	
 	<!-- 수정해주세요 -->
     <select id="user_selectByid" resultType="UserVo">
     <![CDATA[
 		select * from user where user_id = #{id}
      ]]> 
     </select>
 	
 	<!-- 수정해주세요 -->
     <select id="user_selectAll" resultType="UserVO">
     <![CDATA[
 		select * from user
      ]]> 
     </select>
 	
     <update id="user_update"> <!-- 수정해주세요 -->
	 	update student set id =#{id}, passwd =#{passwd}, username =#{username}, 
			snum =#{snum}, depart =#{depart}, mobile =#{mobile}, email =#{email} 
		 where id = #{id}
     </update>
 
 	<!-- 수정해주세요 -->
    <delete id="user_delete">
		delete from student where id = #{id}
    </delete>
    
    <insert id="board_insert"></insert>
    <select id="board_selectByid"></select>
    <select id="board_selectAll"></select>
    <update id="board_update"></update>
    <delete id="board_delete"></delete>
	
</mapper>  