/* H */
h1, h2, h3 {
  color: black;
}

/* Body */
body {
  background: white;
  color: black;
}
/* Header */
header#header {
  height: 3.5em;
  display: block;
  padding: 0;
  background-color: rgb(17, 20, 31);
}

header#header a {
  color: white !important;
}

header#header a:hover {
  color: #f56a6a !important;
}

header#header a.main_logo {
  display: inline-block !important;
  float: left;
  padding: 0;
  margin: 0;
}

a.main_logo img {
  transform:rotate(90deg);
  margin-top: 0.4em;
  width: 2em;
  height: 2em;
  margin-left: 0.5em;
}

header#header a.header_problem {
  display: inline-block !important;
  float: left;
  margin-left: 2.5em;
  margin-top: 0.8em;
}

a.header_problem img {
  width: 1em;
  height: 1em;
  padding: 0;
  margin-right: 0.5em;
}

header#header a.header_board {
  display: inline-block !important;
  float: left;
  margin-top: 0.8em;
  margin-left: 1em;
}

a.header_board img {
  width: 1em;
  height: 1em;
  padding: 0;
  margin-right: 0.5em;
}

header#header a.header_signin {
  float: right;
  width: 2em;
  height: 1em;
  margin-top: 0.4em;
  margin-right: 1em;
}

a.header_signin img {
  display: block;
  width: 100%;
  height: 95%;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

a.header_signin span {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 5%;
  font-size: 0.1px;
  padding-left: 2px;
}

header#header a.header_signup {
  float: right;
  width: 3em;
  height: 1em;
  margin-top: 0.4em;
  margin-right: 1em;
}

a.header_signup img {
  display: block;
  width: 100%;
  height: 95%;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

a.header_signup span {
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 5%;
  font-size: 0.1px;
  padding-left: 2px;
}

/* Sidebar */
header.major {
  text-align: center;
  border-bottom: 0.15em solid white;
  padding-bottom: 2em;
  margin-bottom: 3em;
}

header.major img.icon {
  display: block;
  width: 10em;
  height: 10em;
  border-radius: 50%;
  border-bottom: 0;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

header.major h3.name {
  display: block;
  color: white;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

header.major h3.name a:hover {
  color: white !important;
}

header.major h5.intro {
  margin-top: 0.5em;
  font-family: 'Jua', sans-serif;
}

nav#menu header.major > :last-child {
  border-bottom: 0;
}

#sidebar .inner {
  background: rgb(17, 20, 31) !important;
}

#sidebar .inner #menu li{
  color: white !important;
}

#sidebar > a {
  color: rgb(255, 87, 125) !important;
}

#sidebar > a:hover {
  color: rgb(255, 87, 125) !important;
}

nav#menu ul li img.icon {
  display: inline-block;
  width: 1.5em;
  margin-right: 0.5em;
  margin-top: 1em;
}

#menu ul {
  text-transform: none !important;
}

#menu > ul > li {
  border-top: solid 1px white;
}

li a:hover {
	color: rgb(255, 87, 125) !important;
}

li a.button:hover {
	color: black !important;
}
