section.code h3.board_title {
  clear: both;
  display: inline-block;
  color: black;
  border-bottom: 2.5px solid black;
  padding: 0.3em;
  font-family: none;
  float: left;
}
section div.level {
    float: left;
    box-sizing: border-box;
    width: 50%;
    height: 2.5em;
}

li{
	list-style:none;
}

section div.kind {
    float: left;
    box-sizing: border-box;
    width: 50%;
    padding-left: 1em;
    margin-bottom: 1em;
    height: 2.5em;
}

div.col-12 {
  position: relative;
  display: inline-block;
}

div.col-12 select {
        background: white;
        border: solid 1.5px #333;
 }

select option {
  color: black;
  font-weight: bold;
}

section div.name {
  float: right;
  width: 8em;
}

div.name select {
  height: 2.5em;
}

div.select_arrow{
  position: absolute;
  top: 15px;
  right: 10px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: #484848 transparent transparent transparent;
}

div.small_arrow {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #484848 transparent transparent transparent;
}

section input.search {
    float: right;
    width: 15em;
    height: 2.5em;
    background: white;
    border-color: #9e9e9e;
    margin-right: 0.5em;
    border: solid 1.5px #9e9e9e;
}

  section input.search:enabled {
        border: solid 1.5px #9e9e9e;
    }

section input.search::placeholder {
  color: #9e9e9e !important;
}

.wrapper {
 
    width: 25%;
    float: right;
}

.wrapper .search_box{
  width: 100%;
  background: #fff;
  border-radius: 5px;
  height: 2.4em;
  display: flex;
  padding: 10px;
  border: 1px solid #333;
}

.wrapper .search_box .dropdown{
  width: 6em;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
}

.wrapper .search_box .dropdown .default_option{
  text-transform: uppercase;
  color:#333;
  font-size: 0.65em;
}

.wrapper .search_box .dropdown ul{
  position: absolute;
  left: -11px;
  top:28px;
  background: #ffffff;
  width: 58px;
  border-radius: 5px;
  padding: 5px;
  display: none;
  border: 1px solid #333;
}

.wrapper .search_box .dropdown ul.active{
  display: block;
}

.wrapper .search_box .dropdown ul li{
  padding-bottom: 5px;
  padding-left:14px;
  font-size:0.7em;
  color: #333;
  
}

.wrapper .search_box .dropdown ul li:last-child{
  padding-bottom: 0;
  padding-top:5px;
  border-top: 1px solid #333;
}

.wrapper .search_box .dropdown ul li:hover{
	
  color: #6f768d;
}

.wrapper .search_box .dropdown:before{
  content: "";
    position: absolute;
    top: 5px;
    right: 6px;
    border: 4px solid;
    border-color: #333 transparent transparent transparent;
}

.wrapper .search_box .search_field{
  width: 350px;
  height: 100%;
  position: relative;
  background-color: #ffffff;
}

.wrapper .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0px;
  font-size:0.8em;
  padding: 0 20px;
  color: #6f768d;
}

.wrapper .search_box .search_field .fas{
position: absolute;
    top: 2.5px;
    right: 0px;
    font-size: 5px;
    color: #333;
    cursor: pointer;;
}
/*
section.code div.level {
  float: left;
  width: 10em;
  margin-right: 0.5em;
}

section.code div.kind {
  float: left;
  width: 10em;
}

section.code div.table-wrapper {
  width: 100%;
  height: 21em;
}

div.col-12 {
  position: relative;
  display: inline-block;
}

div.col-12 select {
  background: white;
  border-color: black;
  font-weight: bold;
  /* text-align-last: center;
  padding: 0 !important; */
}

select option {
  color: black;
  font-weight: bold;
}

section.code div.name {
  float: right;
  width: 8em;
}

div.name select {
  height: 2em;
}

div.select_arrow{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: black transparent transparent transparent;
}

div.small_arrow {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: black transparent transparent transparent;
}

section.code input.search {
  float: right;
  width: 12em;
  height: 2em;
  background: white;
  border-color: black;
  font-weight: bold;
  margin-right: 0.5em;
}

section.code input.search:enabled {
  border-color: black;
}

section.code input.search::placeholder {
  color: black !important;
}
*/
/* 이것만 추가 */
section.code button.searchBtn {
	float: right;
	text-align: center;
	width: 5em;
	height: 2.5em;
	line-height: 2.5em;
	margin-left: 0.5em;
	font-weight: bold;
	padding: 0 !important;
}

div.table-wrapper {
  margin-top: 3em;
  text-align: center;
}

div.table-wrapper table thead th {
  color: black;
  text-align: center;
  font-weight: bold;
}

div.table-wrapper table thead {
  border-bottom: 1px solid black;
  text-align: center;
}

div.table-wrapper table tbody tr{
  background: white;
  border: none;
  border-bottom: 1px dashed black;
  cursor: pointer;
}

div.table-wrapper table tbody tr:last-child {
  border-bottom: 1px solid black;
}

div.table-wrapper table tbody tr:hover {
  background: rgb(212, 212, 212);
}
td.problem_id{
	
	font-weight:bold;
	color:#79BCC3;
}
td div.problem_level{
	 vertical-align: middle;
    display: inline-block;
    text-align: center;
    width: 5em;
    color: white;
    background-color: #FFCC80;
    border-radius: 0.3em;
    font-weight: 600;
    padding: 0.8em;
    padding-left: 0;
    padding-right: 0;
    line-height: 0.4em;
    font-size: 0.83em;
	
}
td div.problem_level1 {
  text-align: center;
  width: 5.5em;
  color: white;
  background-color: rgb(255, 211, 85);
  border-radius: 5%;
  font-weight: bolder;
  padding: 0.8em;
  line-height: 0.4em;
  font-size: 0.7em;
  margin: auto;
}

td div.problem_level2 {
  text-align: center;
  width: 5.5em;
  color: white;
  background-color: #f56a6a;
  border-radius: 5%;
  font-weight: bolder;
  padding: 0.7em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  line-height: 0.4em;
  font-size: 0.7em;
  margin: auto;
}

td div.problem_level3 {
  text-align: center;
  width: 5.5em;
  color: white;
  background-color: rgb(64, 186, 218);
  border-radius: 5%;
  font-weight: bolder;
  padding: 0.7em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  line-height: 0.4em;
  font-size: 0.7em;
  margin: auto;
}

td img {
  padding: 0;
  margin-bottom: -0.3em;
}

/*div.page {
  margin: auto;
}

ul.paging {
  text-align: center;
  padding: 0;
}

li.page_num {
  width: 1.5em;
  padding: 0;
  display: inline-block;
  list-style: none;
  text-align: center;
}

li.page_num:first-child a{
  color:rgb(180, 180, 180);
}

li.page_num:last-child a{
  color:rgb(180, 180, 180);
}

li.page_num a {
  width: 1.5em;
  color: black;
  border: 0;
}

li.page_num a:hover {
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  color: white !important;
  background: rgb(0, 157, 191);
  border-radius: 5px;
}
*/

div.page {
  margin: auto;
  overflow:auto;
  width: 100%;
  
}

ul.paging {
  text-align: center;
  padding: 0;
  width: 100%;
  margin:0 ;
}

li.page_num {
	font-size:0.95em;
  width: 1.8em;
  height: 1.8em;
  padding: 0;
  display: inline-block;
  list-style: none;
  text-align: center;
}


li.page_num a {
	font-size:0.95em;
	width: 1.8em;
   text-align:center;
  color: black;
  border: 0;
}
li.page_on a{
	width: 1.8em;
	font-size:0.95em;
  height: 1.8em;
  font-weight: bold;
  display: inline-block;
  color: white !important;
  background: #79BCC3;
  border: 1px solid #ffffff;
  border-radius: 100%;
  text-align: center;
 
}
li.page_num a:hover {
	width: 1.8em;
	font-size:0.95em;
  height: 1.8em;
  font-weight: bold;
  display: inline-block;
  color: white !important;
  background: #79BCC3;
  border: 1px solid #79BCC3;
  border-radius: 100%;
  text-align: center;
 
}