button {
  border: 1px solid rgb(24, 30, 40);
  color: rgb(24, 30, 40) !important;
  font-weight: bolder !important;
  font-family: 'Jua', sans-serif;
  box-shadow: none;
}

button:hover {
  background: rgba(48, 89, 110, 0.5);
}

a.button {
  border: 1px solid rgb(24, 30, 40);
  color: rgb(24, 30, 40) !important;
  box-shadow: none;
}

a.button:hover {
  background: rgba(48, 89, 110, 0.5);
}

section.profile {
  height: 30em;
}

section.profile div.profile_img {
  width: 40%;
  height: 100%;
  text-align: center;
  float: left;
}

section.profile div.profile_img img.img {
  width: 20em;
  height: 20em;
  border-radius: 25%;
}

section.profile div.profile_img button.btn_img {
  width: 20em;
  margin: auto;
}

form#img_form {
	display: none;
}

form#img_form input {
	color: black !important;
}

section.profile div.profile_name {
  width: 60%;
  height: 50%;
  padding-top: 2em;
  padding-bottom: 2em;
  float: left;
}

section.profile div.profile_name input#input_name {
  display: none;
  width: 30%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

section.profile div.profile_name button.btn_name {
  font-size: 0.7em;
}

section.profile div.profile_introduce {
  width: 60%;
  height: 50%;
  float: left;
}
section.profile div.profile_introduce input#input_introduce {
  display: none;
  width: 40%;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

section.profile div.profile_introduce button.btn_introduce {
  font-size: 0.7em;
}

#main > .inner > section {
  border-top: 2px solid rgb(24, 30, 40);
}

h3#user_name {
  color: black;
  font-family: 'Jua', sans-serif;
  font-weight: lighter;
}

h3#user_introduce {
  color: black;
  font-family: 'Jua', sans-serif;
  font-weight: lighter;
}

footer.footer_btns {
  padding-top: 2em;
  margin-bottom: 3.5em;
  border-top: 2px solid rgb(24, 30, 40);
  text-align: right;
}

footer.footer_btns button.btn_withdraw {
  margin-left: 1em;
}

footer.footer_btns button.btn_withdraw:hover {
  background: #f56a6a;
}

footer.footer_btns button.btn_change_pwd:hover {
  background: #f56a6a;
}

form input[type="text"] {
	color: black;
	border: 1px solid rgb(17, 20, 31);
	background: white;
}

form input[type="text"]:enabled {
	color: black;
	border: 1px solid rgb(17, 20, 31) !important;
	background: white;
}

@media (max-width: 800px){

  section.profile div.profile_img {
    margin-right: 1em;
  }

  section.profile div.profile_img button.btn_img {
    width: 25em;
  }

  section.profile div.profile_name {
    width: 100%;
    padding-top: 5em;
  }

  section.profile div.profile_introduce {
    width: 100%;
    height: 10em;
    border-bottom: 2px solid rgb(24, 30, 40);
    margin-bottom: 3.5em;
  }

}
