input, label {
  all: unset !important;
}
div.signin_form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30em;
  padding: 5em;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

div.signin_form .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}


.inputBox input {
  width: 100% !important;
  padding: 0.5em 0;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 1.5em !important;
  border: none;
  border-bottom: 0.1em solid black !important;
  outline: none;
  background: transparent;
}

.inputBox label {
  position: absolute !important;
  top: -1.5em !important;
  left: 0 !important;
  padding: 0.5em 0;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

div.signin_form div.signupHelp {
  text-align: center;
  color: grey;
}

div.signupHelp span {
  font-family: none;
  font-weight: 100 !important;
}

div.signupHelp a {
  font-family: none;
  font-weight: bold;
  border-bottom: 1px solid black;
  border-color: black !important;
}

div.signin_form input[type="submit"] {
  position: absolute !important;
  right: 5em !important;
  bottom: 2.5em !important;
  background: rgb(47, 47, 74) !important;
  border: none !important;
  outline: none !important;
  color: #fff !important;
  padding: 0.5em 2em !important;
  cursor: pointer !important;
  border-radius: 20px !important;
}
