 
 
 .right{
  display:inline-block; float:right; width:70%;
 }  
 .test{
	/*background:url(../images/check.png) no-repeat left center / 10px ;*/
	/*    border: 0 !important;*/
	border-left: solid 1.6px #8C699B !important;
	color: #8C699B;
}

.menu::-webkit-scrollbar {
  width: 7px;
  height:30px;
}
.menu::-webkit-scrollbar-track {

  background-color: transparent;
}
.menu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #37394a;
}
.menu::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.clear{
  clear: both;
}


.slide-toggle{
  display: none;
}

.slidemenu{
  font-family: 'NanumSquare', sans-serif;
  max-width: 600px;
  margin: 10px auto;
  overflow: hidden;
}

.slidemenu label{
  width: 20%;
  text-align: center;
  display: block;
  float: left;
  color: #333;
  opacity: 0.2;
  margin: 0 !important;

}

.slidemenu label:hover{
  cursor: pointer;
  color: #666;
}

.slidemenu label span{
  display: block;
  padding: 10px;    
}

.slidemenu label .icon{
  font-size: 14px;
  border: solid 2px #333;
  text-align: center;
  height: 45px;
  width: 45px;
  display: block;
  margin: 0 auto;
  line-height: 42px;
  border-radius: 50%;
}

/*Bar Style*/

.slider {
  width: 100%;
  height: 3px;
  display: block;
  background: #ededed;
  margin-top: 5px;
  border-radius: 5px;
}

.slider .bar{
  width: 20%;
  height: 3px;
  background: #333;
  border-radius: 5px;
}

/*Animations*/
.slidemenu label, .slider .bar {
  transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
}

/*Toggle*/

.slidemenu .slide-toggle:checked + label{
  opacity: 1;
}


.slidemenu #slide-item-1:checked ~ .slider .bar{ margin-left: 0; }
.slidemenu #slide-item-2:checked ~ .slider .bar{ margin-left: 20%; }
.slidemenu #slide-item-3:checked ~ .slider .bar{ margin-left: 40%; }
.slidemenu #slide-item-4:checked ~ .slider .bar{ margin-left: 60%; }
.slidemenu #slide-item-5:checked ~ .slider .bar{ margin-left: 80%; }