#wrap {width: 100%;}
header {width: 100%; height: 2em; background: #81c784;}
aside {float: left; width: 30%; height: 45em; background: #66bb6a;}
aside .problem {
  color: white;
  overflow: auto;
  width: 100%;
  height: 25em;
  background: black;
}
aside .input {
  overflow: auto;
  width: 100%;
  height: 10em;
  background: red;
}
aside .output {
  overflow: auto;
  width: 100%;
  height: 10em;
  background: blue;
}
section.code {float: left; width: 70%; height: 30em; background: #4caf50;}
section.result {overflow: auto; float: left; width: 70%; height: 15em; background: #43a047;}
/* footer {clear: both; width: 100%; height: 150px; background: #388e3c;} */

/* 화면 너비 0 ~ 1200px */
@media (max-width: 1200px){
    aside {width: 100%; height: 30em;}
    aside .problem {float: left; width: 60%; height: 30em;}
    aside .input {float: left; width: 40%; height: 15em;}
    aside .output {float: left; width: 40%; height: 15em; background: blue;}
    aside .output::after {
      clear: both;
    }
    section.code {float: left; width: 60%; height: 30em;}
    section.result {float: left; width: 40%; height: 30em;}
    section.result::after {
      clear: both;
    }
}
/* 이 밑에 부터는 필요할까 싶어서 일단 뻇어요 ㅇ.ㅇ */
/* 화면 너비 0 ~ 768px */
/* @media (max-width: 768px){
    aside {width: 100%; height: 40em;}
    section.code {width: 100%; height: 20em;}
    section.result {width: 100%; height: 20em;}
} */
/* 화면 너비 0 ~ 480px */
/* @media (max-width: 480px){
} */
